.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background: rgb(251,54,247);
  background: linear-gradient(335deg, rgba(251,54,247,1) 0%, rgba(255,73,251,1) 48%, rgba(0,212,255,1) 48%);
}